@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Sans-Serif;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --fa: #fafafa;
  --c1: #C4DFDF;
  --c2: #D2E9E9;
  --c3: #E3F4F4;
  --c4: #F8F6F4;
}

body{
  background: var(--fa);
}
.uploadBody{
  background: var(--c3);
}

/* Login design*/

.login{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  grid-template-rows: 1fr;
}
.loginLogo{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.loginLogo img{
  width: 75%;
  padding: 10%;
  border-radius: 50%;
}
.loginForm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loginForm form{
  width: 80%;
  border-radius: 20px;
  text-align: center;
  max-width: 550px;
  padding: 50px 50px 40px;
  background: var(--c4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.loginForm h1{
  display: inline-block;
  font-size: 2.5em;
  width: 100%;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.remember{
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 23px;
}
.remember p{
  padding: 10px;
}
.remember input{
  width: 25px;
  height: 25px;
}
.loginForm .inputs input{
  width: 100%;
  font-size: 23px;
  margin-top: 10px;
  padding: 18px;
  background: #fafafa;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.inputField{
  position: relative;
}
.inputField i{
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  position: absolute;
  top: 35px;
  right: 20px;
}
.inputField p{
  text-align: left;
  color: red;
}
.inputField label{
  font-family: 'Questrial', 'Poppins';
}
.loginForm button{
  width: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 23px;
  margin-top: 13px;
  padding: 13px;
  border-radius: 5px;
  background: var(--c1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.newAccount{
  margin-top: 20px;
  font-size: 19px;
  text-align: center;
}
.newAccount a{
  text-decoration: underline;
}
.newAccount .link{
  text-decoration: none;
}
.formLogo{
  display: none;
}

.signupFormContainer{
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.signupForm {
  width: 80%;
  border-radius: 20px;
  max-width: 550px;
  margin: 1rem;
  padding: 40px 50px 40px;
  background: var(--c4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.signupForm h1{
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
}
.signupForm .inputs{
  padding: 0.85rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signupForm .inputs input, .signupForm select{
  width: 100%;
  font-size: 1.05rem;
  padding: 0.5rem;
  background: #fafafa;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.signupForm select{
  color: gray;
}
.signupForm .inputField{
  position: relative;
}
.signupForm .inputField label{
  font-size: 1.1rem;
}
.signupForm .inputField i{
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  position: absolute;
  top: 35px;
  right: 20px;
}
.signupForm .inputField p{
  text-align: left;
  font-size: 0.9rem;
  color: red;
}
.signupForm .fullNameInput{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.signupForm .twoColumn{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.signupForm button{
  width: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 1.35rem;
  padding: 0.7rem;
  border-radius: 5px;
  background: var(--c1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "head head head"
    "side content content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

/* Header and left navigation bar design for all of the pages*/
.header{
  grid-area: head;
  width: 100%;
  padding: 6px 20px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--c1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.header img{
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.schoolHeader{
  display: flex;
  align-items: center;
  gap: 15px;
}
.schoolHeader .lgTitle {
  display: flex;
  flex-direction: column;
}
.schoolHeader .lgTitle h2{
  font-size: 1.25rem;
  font-weight: 600;
}
.schoolHeader .smTitle{
  display: none;
}
.header .user{
  width: 35px;
  aspect-ratio: 1/1;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  position: relative;
}
.header .lgUser{
  position: relative;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1.5px solid #00706097;
  background-image: url('/images/defaultProfile.png');
  background-position: center;
  background-size: cover;
}
.header .lgUser .lgUserInfo{
  width: 280px;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate( 5px, 120%);
  border: 0;
  border-radius: 10px;
  background: var(--c2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: 0.6s;
}
.lgUserInfo .infos{
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 5px;
  padding: 1rem 1rem 0;
}
.lgUserInfo .infos button{
  width: 35px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: transparent;
}
.lgUserInfo .infos i{
  width: 100%;
  font-size: 1.1rem;
  padding: 0.35rem 0.6rem;
  border: 0;
  border-radius: 5px;
  margin: 0;
  background: var(--c4);
  box-shadow: 0 0 1.5px rgba(0,0,0,0.8);
}
.lgUserInfo .profile{
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px;
  overflow: hidden;
}
.lgUserInfo .profile .userImg{
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1.5px solid #00706097;
  background-image: url('/images/defaultProfile.png');
  background-position: center;
  background-size: cover;
}
.lgUserInfo .profile .info{
  width: 100%;
  font-family: 'Questrial', 'Poppins';
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.lgUserInfo .profile p{
  width: 100%;
  font-size: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
  position: absolute;
  top: -2px;
}
.lgUserInfo .profile span{
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  top: 18px;
}
.lgUserInfo .logoutBox{
  width: 100%;
  padding: 1rem;
}
.lgUserInfo .logout button{
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: 'Questrial', 'Poppins';
  border: 0;
  border-radius: 5px;
  background: #ff3f3f94;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.lgUserInfo .credits p{
  margin: 10px 0 0;
  text-align: center;
  font-family: 'Questrial';
}
.header .lgUser .toggleUserInfo {
  height: 147px;
  box-shadow: 0 0 2px 0.1px rgba(0, 0, 0, 0.5);
}

.navigation{
  display: grid;
  grid-area: side;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s;
}
.navbar{
  width: 100%;
  height: 100%;
  padding: 0 5px;
  background: var(--c2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.navbar a li{
  width: 100%;
  white-space: nowrap;
  font-size: 23px;
  color: #000;
  padding: 5px;
  margin: 20px 0 0;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.navbar .closeMenu{
  display: none;
}
.navbar .userInfo{
  display: none;
}
.navbar a li:hover{
  background: rgba(0,0,0,0.1);
}
.navbar a li p{
  display: none;
}
.navbar a li i{
  padding: 7px 5px;
}
.navbarFooter{
  display: none;
}

/* Contents design */
.contents{
  grid-area: content;
  height: 100%;
  padding: 50px;
  overflow: auto;
}
.headName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headName h1{
  width: max-content;
}
.headName .searchbar{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  
}
.searchbar input{
  font-size: 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.searchbar button{
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.documents{
  width: 100%;
  padding: 25px 10px;
}
.documents h1{
  padding: 10px 0px 15px;
}
.docs{
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
  grid-auto-rows: 250px;
  gap: 30px;
}
.docs .resPaper{
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr max-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  overflow-y: hidden;
}
.docs .resImage{
  width: 100%;
  min-height: 1/1;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.docs .resImage span{
  font-weight: bold;
  font-size: 1rem;
  color: gray;
  text-shadow: 0 0 2px rgba(250,250,250,0.4);
}
.resPaper p{
  height: 49px;
  color: #000;
  padding: 10px 0px 8px;
  font-size: 18.5px;
  font-weight: 600;
  font-family: 'Questrial';
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.norecords{
  display: none;
}

/* View esearch papers design*/
.centerViewResPaper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.viewResPaper{
  width: min(100%, 650px);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background: var(--fa);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.paperHeader{
  width: 100%;
}
.paperHeader .image_descriptions{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.image_descriptions .paperImage{
  width: 100%;
  height: 225px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image_descriptions .paperImage span{
  font-weight: bold;
  font-size: 1rem;
  color: gray;
  text-shadow: 0 0 2px rgba(250,250,250,0.4);
}
.image_descriptions .descriptions{
  font-size: 20px;
  padding: 5px 25px 3px;
  text-align: center;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}
.descriptions p{
  width: 100%;
}
.descriptions .infos{
  font-size: 0.85rem;
  font-family: 'Questrial', 'Poppins';
  color: gray;
}
.downloadRead{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.downloadRead button{
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
}
.downloadRead .readOnline, .copy{
  color: #000;
  border: 1px solid rgba(0,0,0,0.05);
  background: #fafafa;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.downloadRead .copy{
  width: 45px;
}
.downloadRead .download{
  color: #fff;
  border: 0;
  background: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.viewerContainer{
  width: 100%;
  height: 100%;
}


/* Upload styles */
.uploadContainer {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflowY: auto;
}
.uploadContainer .uploadForm{
  width: 100%;
  max-width: 400px;
  height: max-content;
  padding: 1rem;
  border-radius: 10px;
  background: var(--fa);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.uploadForm h3{
  font-weight: 600;
}
.uploadForm .uploadInputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.uploadInputs input, select{
  width: 100%;
  margin: 5px 0 0;
  padding: 0.2rem 0.35rem;
}
.uploadInputs label{
  font-family: 'Questrial', 'Poppins';
}
.uploadInputs label p{
  font-size: 0.9rem;
  color: red;
}
.uploadInputs select{
  color: gray;
}
.uploadInputs input[type="file"]{
  padding: 0.45rem;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}
.uploadType .types{
  display: flex;
  gap: 10px;
}
.uploadType label{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.uploadForm button{
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  border: 0;
  border-radius: 5px;
  background: lightgreen;
  box-shadow: 0 0 2px rgba(0,0,0,1);
}
.results{
  width: 100%;
  max-width: 400px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
  border-radius: 5px;
  background: var(--c4);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: relative;
}
.results div{
  display: grid;
  grid-template-columns: 1fr 65px 70px;
  gap: 5px;
}
.results p{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'Questrial', 'Poppins';
}
.results span{
  display: none;
}
.results p:nth-child(3), .results p:nth-child(2){
  text-align: center;
}
.results .link{
  text-align: center;
  font-size: 0.9rem;
}
.results .head{
  border-bottom: 1px solid #000;
}
.results .head p{
  font-weight: 500;
  font-family: 'Poppins';
}


/* Loading animation */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.1rem;
  background: linear-gradient(135deg,#0000 calc(50% - 0.5em),#000 0 calc(50% + 0.5em),#0000 0) right/300% 100%;
  animation: l22 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader::before {
  content: "PAC-SALUG";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(135deg,#000 calc(50% - 0.5em),#fff 0 calc(50% + 0.5em),#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

/* Admin panel */
.adminPanelContainer{
  padding: 40px 60px;
}
.adminPanelContainer .adminPanel{
  visibility: hidden;
}
.adminPanel .cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
  grid-auto-rows: 90px;
  gap: 20px;
}
.adminPanel .cards .card{
  padding: 1rem;
  color: #000;
  display: flex;
  justify-content: space-between;
  border: 0;
  border-radius: 5px;
  background: var(--c3);
  box-shadow: 0 0 2.5px 1px rgba(0,0,0,0.15);
  position: relative;
}
.adminPanel .card span{
  align-self: end;
  font-size: 1.4rem;
}
.adminPanel .card p{
  font-size: 1.1rem;
  font-weight: 500;
}
.adminPanel .card p span{
  font-size: 1rem;
  font-family: 'Questrial', 'Poppins';
}
.adminPanel .card i{
  font-size: 1.8rem;
  opacity: 0.15;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.adminPanel .configurations{
  margin: 20px 0 0;
}
.adminPanel .configurations h3{
  font-weight: 500;
}
.adminPanel .autoVerify{
  width: max-content;
  margin: 10px 0 0;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  background: #ff9b9b;
  box-shadow: 0 0 2.5px 1px rgba(0,0,0,0.15);
}

/* Admin manage users */
.manageUsers .datatable {
  visibility: hidden;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
}


/* Unauthorized */
.unauthorized{
  width: 100%;
  height: 100vh;
  padding: 4rem 2rem 2rem;
  display: flex;
  justify-content: center;
  background: var(--c3);
}
.unauthorized .message{
  width: 100%;
  max-width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  background: var(--c2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.unauthorized .pacLogo{
  text-align: center;
}
.unauthorized .pacLogo img{
  width: 100px;
  aspect-ratio: 1/1;
}
.unauthorized p{
  margin-bottom: 10px;
}
.unauthorized button{
  margin-top: 5px;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: 'Questrial', 'Poppins';
}
.unauthorized a{
  width: 100%;
  text-align: center;
  color: #000;
}

@keyframes l22{
  100%{background-position: left}
  padding: 0.25rem 1rem;
}


@media screen and (max-width: 600px) {
  .container{
    grid-template-areas:
      "head head head"
      "content content content";
  }
  
  .navigation{
    width: 65vw;
    height: 100vh;
    display: block;
    text-align: right;
    position: fixed;
    z-index: 4;
    top: 0;
    right: -100vw;
    background: rgba(0,0,0,0.1);
    transition: 0.2s;
  }
  .navbar{
    width: 65vw;
    height: 100vh;
    padding: 10px 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .navbar a li{
    width: 100%;
    font-size: 1.15rem;
    font-family: 'Questrial', 'Poppins';
    padding: 0.4rem;
    justify-content: center;
    margin-top: 5px;
    transition: 0.6s;
  }
  .navbar a li i{
    display: none;
  }
  .navbar a li p{
    display: block;
  }
  .navbar .active{
    box-shadow: none;
  }
  .navbar a li:hover{
    text-decoration: underline;
    text-decoration-color: #2e2e2e;
    background: var(--c1);
  }
  .navbar .userInfo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 0 0.5rem;
    margin: 0 0 1rem;
    border: 0;
    border-radius: 10px;
    background: var(--c2);
    overflow: hidden;
    transition: 0.8s;
  }
  .toggleMenu{
    width: 100vw;
    right: 0;
  }
  .navbar .profile{
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5px;
    overflow: hidden;
  }
  .navbar .profile .userImg{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1.5px solid #00706097;
    background-image: url('/images/defaultProfile.png');
    background-position: center;
    background-size: cover;
  }
  .navbar .profile .info{
    width: 100%;
    font-family: 'Questrial', 'Poppins';
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  .navbar .profile p{
    width: 100%;
    font-size: 1.1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    position: absolute;
    top: -2px;
  }
  .navbar .closeMenu{
    width: 35px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: transparent;
  }
  .navbar .closeMenu i{
    width: 100%;
    font-size: 1.1rem;
    padding: 0.35rem 0.6rem;
    border: 0;
    border-radius: 5px;
    margin: 0;
    background: var(--c4);
    box-shadow: 0 0 1.5px rgba(0,0,0,0.8);
  }
  .navigation .profile span{
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 18px;
  }
  .navbarFooter{
    display: block;
    width: 100%;
    padding: 0 0 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
  }
  .navbarFooter .logout{
    width: 100%;
    padding: 1rem 1rem 0;
  }
  .navbarFooter .logout button{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    font-family: 'Questrial', 'Poppins';
    border: 0;
    border-radius: 5px;
    background: #ff3f3f94;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
  }
  .navbarFooter .credits p{
    padding: 5px 0 1rem;
    text-align: center;
    font-family: 'Questrial';
  }
  
  .header{
    padding: 0.35rem 0.65rem 0.35rem 0.5rem;
  }
  .header img{
    width: 35px;
  }
  .header .user{
    display: flex;
    
  }
  .header .lgUser{
    display: none;
  }
  .header .user i{
    padding: 0.5rem 0.6rem;
  }
  .schoolHeader{
    gap: 7px;
  }
  .schoolHeader .lgTitle{
    display: none;
  }
  .schoolHeader .smTitle{
    display: block;
  }
  .schoolHeader .smTitle h2{
    font-size: 1rem;
  }
  .schoolHeader .smTitle p{
    font-family: 'Questrial';
  }
  
  .headName .searchbar{
    width: 100%;
  }
  .searchbar input{
    width: 100%;
    font-size: 18.5px;
  }
  .searchbar button{
    font-size: 18.5px;
  }
  .contents{
    padding: 1rem;
  }
  
  
  .documents{
    padding: 10px 10px 20px;
  }
  
  .docs{
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
  }
  .docs .resPaper{
    padding: 15px;
  }
  .resPaper p{
    height: 40px;
    padding: 10px 0 0;
    font-size: 0.9rem;
  }
  .image_descriptions .descriptions{
    padding: 5px 10px 3px;
  }
  .descriptions p{
    font-size: 15.5px;
  }
  
  .readOnlineContainer{
    padding: 5px 0 0;
  }
  
  
  .login{
    display: 100%;
    grid-template-columns: 1fr;
  }
  .loginLogo{
    position: fixed;
    top: 0;
    left: 0;
  }
  .formLogo{
    display: block;
    text-align: center;
  }
  .formLogo img{
    width: 70px;
    aspect-ratio: 1/1;
  }
  .loginForm {
    width: 100%;
    padding: 2rem 0;
  }
  .loginForm form{
    width: 80%;
    padding: 1.8rem;
  }
  .loginForm h1{
    font-size: 1.15rem;
    padding: 0 0 10px;
  }
  .remember{
    font-size: 1rem;
    margin-top: 10px;
  }
  .remember p{
    padding: 5px;
  }
  .remember input{
    width: 18px;
    height: 18px;
  }
  .loginForm .inputs input{
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .loginForm .inputField i{
    font-size: 0.95rem;
    top: 23px;
    right: 15px;
  }
  .loginForm button{
    font-weight: 600;
    font-size: 1rem;
    padding: 0.35rem 0.5rem;
  }
  .newAccount{
    margin-top: 20px;
    font-size: 1rem;
  }
  
  
  .signupFormContainer {
    width: 100%;
    padding: 2rem 0;
  }
  .signupForm{
    width: 80%;
    padding: 1.8rem;
  }
  .signupForm h1{
    font-size: 1.15rem;
    padding: 0 0 10px;
  }
  .signupForm .inputs{
    padding: 0.3rem 0 0;
  }
  .signupForm .inputs input{
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .signupForm .fullNameInput{
    grid-template-columns: 1fr;
  }
  .signupForm .twoColumn{
    grid-template-columns: 1fr;
  }
  .signupForm .inputField i{
    font-size: 0.95rem;
    top: 23px;
    right: 15px;
  }
  .signupForm button{
    font-weight: 600;
    font-size: 1rem;
    padding: 0.35rem 0.5rem;
  }
}